.text {
  align-items: center;
  background-color: rgb(209, 208, 208);
  margin-left: 50px;
  margin-right: 50px;
}

.table {
  width: 93.5%;
  margin-left: 50px;
}

.tr {
  background-color: #81eee3;
}

.footer {
  text-align: center;
}
